@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #1f80e0;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
.root {
  display: flex;
  flex-direction: column;
}
header {
  background-color: #1668b9;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}
.mov {
  display: block;
  padding-right: 72%;
  padding-bottom: 10px;
  color: white;
  font-family: Courier, monospace;
  padding-bottom: 0;
  font-size: 2rem;
}
.searchbox {
  padding-top: 25px;
}
.search {
  background-color: white;
  border: 1px solid #2f80d1;
  font-family: Courier, monospace;
  border-radius: 40px;
  color: #1668b9;
  padding: 10px;
  font-size: 1rem;
}
.search:focus {
  outline: 0;
}
.mybutton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px;
  padding: 10px;
}

.mybutton .popular {
  padding: 20px 80px 20px 80px;
  margin-right: 50px;
  border-radius: 10px;
  color: rgb(24, 23, 21);
  background-color: #1f80e0;
  font-family: bold Courier, monospace;
  opacity: 0.6;
  transition: 0.3s;
  font-size: 20px;
}
.mybutton .popular:hover {
  opacity: 1;
  color: white;
  background-color: #092e57;
}

.mybutton .upcoming {
  padding: 20px 80px 20px 80px;
  margin-right: 50px;
  border-radius: 10px;
  background-color: #1f80e0;
  font-family: Courier, monospace;
  color: seashell;
  opacity: 0.6;
  transition: 0.3s;
  font-size: 20px;
  color: rgb(24, 23, 21);
}
.mybutton .upcoming:hover {
  opacity: 1;
  color: white;
  background-color: #092e57;
}
.mybutton .nowplaying {
  padding: 20px 80px 20px 80px;
  margin-right: 50px;
  border-radius: 10px;
  color: #070d13;
  background-color: #1f80e0;
  font-family: Courier, monospace;
  opacity: 0.6;
  transition: 0.3s;
  font-size: 20px;
}
.mybutton .nowplaying:hover {
  opacity: 1;
  color: white;
  background-color: #092e57;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
}
.movie {
  background-color: #3e87d1;
  width: 250px;
  display: grid;
  margin: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  box-shadow: 3px;
}
.movie img {
  max-width: 100%;
}
.movie-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}
.movie h3 {
  margin: 0rem;
}
.movie-overview {
  position: absolute;
  background-color: aliceblue;
  color: #1f80e0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  overflow: auto;
  max-height: 100%;
  transform: translateY(100%);
  transition: 0.5s ease-in-out;
  border-radius: 20px;
}
.movie:hover .movie-overview {
  transform: translateY(0%);
}
.tag {
  background-color: #092e57;
  padding: 0.5rem;
  border-radius: 5px;
}
.tag.red {
  color: red;
}
.tag.green {
  color: green;
}
.tag.yellow {
  color: yellow;
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}
.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 2px solid #092e57;
  color: #070d13;
  cursor: pointer;
}
.paginationBttns a:hover {
  color: white;
  background-color: #092e57;
}
.paginationActive a {
  color: white;
  background-color: #092e57;
}
.paginationDisabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}
.paginationDisabled a:hover {
  background-color: unset !important;
  color: unset !important;
}
